---
layout: multi-category
---
<div class="cate-container">
	{% for specz_ in site.top_menu %}
		<div class="card mt-2" style="background-color: rgba(255,255,255,.1);">
			<div class="card-header">
				<span class="fa fa-{{ specz_.icon }}" style="color:#{{ specz_.color }}">&nbsp;</span>
				{{ specz_.title }}
			</div>
			<div class="card-body card-columns">
			{% if specz_.items %}
				{% for itemz in specz_.items %}
					<div class="card {{ site.bg_colors | sample}}">
						<div class="card-body">
						<h5 class="card-title">{{ itemz.name }}</h5>
						<p class="card-text">{{ itemz.description }}.</p>
						</div>
					</div>
				{% endfor %}
			{% endif %}
			</div>
		</div>
	{% endfor %}
</div>