---
layout: home
category: Home
---
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic">学，而知</h1>
    <p class="lead my-3">学者如禾如稻，不学者如蒿如草。只学斟酒意，莫学下棋心。黑发不知勤学早，转眼便是白头翁</p>
    <hr class="my-4">
    <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">增广贤文</a></p>
  </div>
</div>
<div class="row mb-2">
  {% for post in site.posts %}
   {% if post.show_on_home_page %}
    <div class="col-md-6">
      <div class="card justify-content-md-center flex-md-row mb-4 box-shadow h-md-250" style="width:100%;">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-success"><span class="fa fa-tag">&nbsp;</span>{{post.category}}</strong>
          <h3 class="mb-0">
          <a class="text-dark" href="{{post.url}}">{{post.title}}</a>
          </h3>
          <div class="media text-muted pt-3">
            <img src="{{site.baseurl}}/assets/img/leaf.png" alt="" class="mr-2 rounded">
            <div class="media-body pb-3 mb-0 small lh-125">
              <strong class="d-block text-gray-dark"><a href="#" class="badge badge-pill badge-dark">{{site.author}}</a></strong>
              {{post.date | date_to_long_string}}
            </div>
          </div>
          <p class="card-text mb-auto">{{ post.excerpt }}</p>
          <a href="{{post.url}}"><span class="fa fa-info">&nbsp;</span>继续阅读...</a>
        </div>
        <!-- <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap"> -->
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>